header{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

header a{
    color:black;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

.nav-link {
    margin-top: 6px;
}

.nav-link a {
    padding-right:10px;
    padding-left: 10px;
}

.nav-img {
    padding-right:15px;
    padding-left:5px;
    padding-top: 6px;
}

.nav-img:hover{
    cursor:pointer;
    background-color: rgb(135, 135, 135);
    border-radius: 50%;
}

.click button {
    background: blue;
    color:white;
    border-radius: 15%;
    padding: 5px 10px 5px 10px;
}

.click a {
    color:white;
}

.container div{
    display:flex;
    justify-content:center;
}

.logo img{
    width:500px; 
    height: 280px;
}

.cliquer button {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: none;
    padding: 10px;
    border-radius: 4px;
    background-color:#f8f9fa;
}

.container2 ul {
    display:flex;
    justify-content:space-between;
    list-style-type: none;
}

footer {
    padding-left: 10px;
    padding-right: 30px;
    background-color: lightgrey;
    position:absolute;
    bottom:0;
    width:100%;
}

.language a {
    padding-left: 5px;
    padding-right:5px;
    text-decoration: none;
    color:blue;
}

.language {
    padding-top:20px;
}

